#greeting, #developer {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-variant-ligatures: none;
  display: inline-block;
  white-space: pre;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  width: 100%; /* หรือ width ฟิกซ์ เช่น 500px */
}
