#greeting, #developer {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  width: 500px;
  white-space: pre;
  overflow: hidden;
  text-align: center;
  min-height: 40px;
  height: 40px; /* บังคับความสูง */
  line-height: 40px; /* ให้ข้อความอยู่ตรงกลาง */
}
